$main-color: #2bafaa;

$light-theme-bg: #fafafa;
$light-theme-panel: #ffffff;

$main-font-color: #282846;

$border-radius-panel: 15px;

$fs-title-panel: 30px;

$task-border-color: #e8e8e8;
$task-bg-hover-color: #fbfdfc;
// #2c3440
// #222831

